<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <a class="nav-brand" style="text-decoration: none">
                <!-- <img src="./assets/images/logo.png" class="me-3" alt="logo"> -->
                <h5>Identity App</h5>
            </a>
            <button class="navbar-toggler" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
                    </li>
                    <ng-container>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/products" routerLinkActive="active">Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/admin" routerLinkActive="active">Admin</a>
                        </li>
                    </ng-container>
                </ul>
    
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="btn btn-warning mx-2" routerLink="/account/register">
                            Create account
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-warning" routerLink="/account/login">
                            Login
                        </a>
                    </li>
                </ul>
    
                <div class="d-flex align-items-center">
                    <a class="text-white" style="text-decoration: none; cursor: pointer;">
                        Hi <span class="h5 text-warning">user.firstName | titlecase</span>
                    </a>
                    <a class="btn btn-warning ms-2">Logout</a>
                </div>
            </div>
        </div>
    </nav>
</header>